
.section{
    background: black;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}



.section p{

margin: 5px;
color:white;


}
.section div{
float: left;

}
.info-total
{
    
     width: 100%;
    margin:5px;
    

}
.info{
    
   
    width: 50%;
    height: 100%;


}
.imagenpeli
{
 
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
   
    
}

.negrilla{
   
    font-weight: bold;
    padding: 0px;
}

.info-total img{
    
margin: 10px;
width: 300px;
height: 350px;
border-radius: 10px;

}

.info-total hr{
margin-top: 30px;
position: relative;
width: 100%;
background: #FFBA08;
height: 5px;

}



#Categoria{
    float:left;
    margin-right: 10px;
}


.Modall {
position: absolute;
margin-top:90px ;
background:#FFBA08;
color:black;
width: 700px;
margin-left:190px;

justify-content: center;
z-index: 2

}


