
.section{
    background: black;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}



p{

padding: 5px;
color:white;


}
div{
float: left;

}
.info-total
{
    
     width: 100%;
    margin:5px;
    

}
.info{
    
   
    width: 50%;
    height: 100%;


}
.imagenpeli
{
 
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
   
    
}

.negrilla{
   
    font-weight: bold;
    padding: 0px;
}

img{
    
margin: 10px;
width: 300px;
height: 350px;
border-radius: 10px;

}

hr{
margin-top: 30px;
position: relative;
width: 100%;
background: #FFBA08;
height: 5px;

}
.categoria
{ 
    
    float: right;
    
    
    
    
}

.categoria>p{
float: right;
padding: 0px;
margin-right: 5px;
left: -530px;

}